In [14]:
import numpy as np
import pandas as pd

path="data/"
train = pd.read_csv(path+"train.csv")
train.head() # does not print in jupyter notebook.
print("looks like our training data has shape: "+str(train.shape))
print("training data: "+str(train.head(3)))
#print('training info:')
#print("training info: "+str(train.info()))
#train.info() # this prints without the nonsense.
print("-------------------------------------------")
columns=train.columns.values
print("columns: "+str(columns))
for column in columns:
    x=train[column]
    are_any_null=x.isnull().any()
    if x.isnull().any():
        print("column "+str(column)+" has nulls!")
    else:
        print("column "+str(column)+" has no nulls.")
        if np.issubdtype(x, np.number):
            print("\tthis is a numeric data type: "+str(x.dtype))
            print(str(x.describe()))

        
test=pd.read_csv(path+"test.csv")
print("test data shape: "+str(test.shape))
print("test data: "+str(test.head()))

all = train.append( test , ignore_index = True )
all.head()

titanic = all[ :891 ]

looks like our training data has shape: (891, 12)
training data:    PassengerId  Survived  Pclass  \
0            1         0       3
1            2         1       1
2            3         1       3

                                                Name     Sex   Age  SibSp  \
0                            Braund, Mr. Owen Harris    male  22.0      1
1  Cumings, Mrs. John Bradley (Florence Briggs Th...  female  38.0      1
2                             Heikkinen, Miss. Laina  female  26.0      0

   Parch            Ticket     Fare Cabin Embarked
0      0         A/5 21171   7.2500   NaN        S
1      0          PC 17599  71.2833   C85        C
2      0  STON/O2. 3101282   7.9250   NaN        S
-------------------------------------------
columns: ['PassengerId' 'Survived' 'Pclass' 'Name' 'Sex' 'Age' 'SibSp' 'Parch'
 'Ticket' 'Fare' 'Cabin' 'Embarked']
column PassengerId has no nulls.
	this is a numeric data type: int64
count    891.000000
mean     446.000000
std      257.353842
min        1.000000
25%      223.500000
50%      446.000000
75%      668.500000
max      891.000000
Name: PassengerId, dtype: float64
column Survived has no nulls.
	this is a numeric data type: int64
count    891.000000
mean       0.383838
std        0.486592
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        1.000000
Name: Survived, dtype: float64
column Pclass has no nulls.
	this is a numeric data type: int64
count    891.000000
mean       2.308642
std        0.836071
min        1.000000
25%        2.000000
50%        3.000000
75%        3.000000
max        3.000000
Name: Pclass, dtype: float64
column Name has no nulls.
column Sex has no nulls.
column Age has nulls!
column SibSp has no nulls.
	this is a numeric data type: int64
count    891.000000
mean       0.523008
std        1.102743
min        0.000000
25%        0.000000
50%        0.000000
75%        1.000000
max        8.000000
Name: SibSp, dtype: float64
column Parch has no nulls.
	this is a numeric data type: int64
count    891.000000
mean       0.381594
std        0.806057
min        0.000000
25%        0.000000
50%        0.000000
75%        0.000000
max        6.000000
Name: Parch, dtype: float64
column Ticket has no nulls.
column Fare has no nulls.
	this is a numeric data type: float64
count    891.000000
mean      32.204208
std       49.693429
min        0.000000
25%        7.910400
50%       14.454200
75%       31.000000
max      512.329200
Name: Fare, dtype: float64
column Cabin has nulls!
column Embarked has nulls!
test data shape: (418, 11)
test data:    PassengerId  Pclass                                          Name     Sex  \
0          892       3                              Kelly, Mr. James    male
1          893       3              Wilkes, Mrs. James (Ellen Needs)  female
2          894       2                     Myles, Mr. Thomas Francis    male
3          895       3                              Wirz, Mr. Albert    male
4          896       3  Hirvonen, Mrs. Alexander (Helga E Lindqvist)  female

    Age  SibSp  Parch   Ticket     Fare Cabin Embarked
0  34.5      0      0   330911   7.8292   NaN        Q
1  47.0      1      0   363272   7.0000   NaN        S
2  62.0      0      0   240276   9.6875   NaN        Q
3  27.0      0      0   315154   8.6625   NaN        S
4  22.0      1      1  3101298  12.2875   NaN        S

In [13]:
import unittest

class TestStringMethods(unittest.TestCase):
    def test_for_training_data_present(self):
        self.assertFalse(train is None)
    def test_for_test_data_present(self):
        self.assertFalse(test is None)
    def test_shape_of_training_data(self):
        self.assertTrue(train.shape==(891, 12))
    def test_shape_of_test_data(self):
        self.assertTrue(test.shape==(418, 11))
if __name__ == '__main__':
    unittest.main(argv=['first-arg-is-ignored'], exit=False)
    #unittest.main()

....
----------------------------------------------------------------------
Ran 4 tests in 0.011s

OK